.hidden {
  display: none;
}
#sidebar {
  width: 30%;
  float: left;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(127, 127, 127, .5);
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #A00;
  padding: 15px;
}
#list {
  list-style: none;
  padding: 0;
  font-family: monospace;
}
#result {
  margin: 0 5% 0 35%;
}
input {
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0.33rem;
}
#controls input {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.33rem;
  font-weight: bold;
  color: #333;
}
#search {
  width: 75%;
}
#toggle {
  padding: 5px 10px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACCUlEQVRIib3VTUuVQRQH8J8IlS/c4hIUahZYto5oYyspKyJqUX6N0DbZOgtzE0hS0AsWLWrTO36DalW2iSzoPbvWIiIQl7WYuTk9Ps/1ZtAfBmbmnPOf8zJzhvrQgO/4FkelTru60YnpZP0B65ZLdgyHM3t7cSdZT6I3o9OPwaXIT2AKz3EJLdiEazid6J3BhBBZK65Em2cYquX5U5TRhHF8xgxG0Z3obsW5KP8Y503Rdqookj14geZkb0c0LMJq9CTrFrxEX5HBWZyvQbgULgvRFqJFSMn2HFkJu+Io5ch34q3aEevC+4xSg1CfL7iH+3E+GGWpA7Noz5I2RuIDuImTGfkAHqIt2WvHYxzN6I7hKvZHzkaYx2vcjuSdicGaIq/QESNJ09WFU7gbOedhLse4ij4hLUV4INSkCHP/5YCvFlI0LIRZxb+k6E3kBuujtzcwkiHKK3IbHskv8gR2K2iGm4V3kL7m6jWtWLimlXhw9ppW5Ef7G61Cf9mWIysJHbRX/kPrwbuMc4tw3eJ38DcYFVKUi348wYqMV6tqEGab3Uqhmx7JUx6IwrLQky4I9fgUPduS6Hb7s12PC6kpC3/CQJFHQ8KfMB0PaMZGIXXDid6I0BI2CHW7KLT6KRyvETFCEzuY2duHW8l60uIHdkgdX2YROvAqWc9g7XLJ8tCAH/gZx2y9hr8A5k508UtQeB0AAAAASUVORK5CYII=") no-repeat;
}
