body {
  background-color: #EEE;
}
.hidden {
  display: none;
}
#sidebar {
  width: 30%;
  position: fixed;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-radius: .33rem;
  box-shadow: 0 0 .66rem #000;
  font-size: 1rem;
  color: white;
  background-color: #A00;
  padding: .5rem;
}
#list {
  list-style: none;
  border-radius: 0.5rem;
  background-color: #B00;
  padding: 0.33rem;
  font-size: .9rem;
  font-weight: bold;
  font-family: monospace;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(90vh - 4rem);
}
#list li {
  padding: 2px 5px;
}
#list li:hover {
  background-color: #F00;
  text-shadow: 0 0 2px #00F;
}
#list li a {
  color: white;
  display: block;
  text-decoration: none;
}
#list li a.current {
  font-size: 1rem;
}
#result {
  margin: 0 5% 0 35%;
}
#controls {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(90vh - 3rem);
}
fieldset {
  margin: .66rem 0;
  border: 1px solid #888;
}
input[type=button], input[type=text], input[type=search] {
  border: 1px solid #CCC;
  border-radius: 2px;
  padding: 0.33rem;
}
#controls input[type=button] {
  display: block;
  width: 100%;
  margin: 0.5rem auto;
  padding: 0.33rem;
  font-weight: bold;
  color: #333;
  box-shadow: 2px 2px 5px #000;
  background-color: #DDD;
}
#search {
  width: calc(100% - 3.5rem);
  margin-right: .5rem;
}
#search:focus {
  box-shadow: 0 0 1rem #FF0;
}
#toggle {
  padding: .66rem;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACCUlEQVRIib3VTUuVQRQH8J8IlS/c4hIUahZYto5oYyspKyJqUX6N0DbZOgtzE0hS0AsWLWrTO36DalW2iSzoPbvWIiIQl7WYuTk9Ps/1ZtAfBmbmnPOf8zJzhvrQgO/4FkelTru60YnpZP0B65ZLdgyHM3t7cSdZT6I3o9OPwaXIT2AKz3EJLdiEazid6J3BhBBZK65Em2cYquX5U5TRhHF8xgxG0Z3obsW5KP8Y503Rdqookj14geZkb0c0LMJq9CTrFrxEX5HBWZyvQbgULgvRFqJFSMn2HFkJu+Io5ch34q3aEevC+4xSg1CfL7iH+3E+GGWpA7Noz5I2RuIDuImTGfkAHqIt2WvHYxzN6I7hKvZHzkaYx2vcjuSdicGaIq/QESNJ09WFU7gbOedhLse4ij4hLUV4INSkCHP/5YCvFlI0LIRZxb+k6E3kBuujtzcwkiHKK3IbHskv8gR2K2iGm4V3kL7m6jWtWLimlXhw9ppW5Ef7G61Cf9mWIysJHbRX/kPrwbuMc4tw3eJ38DcYFVKUi348wYqMV6tqEGab3Uqhmx7JUx6IwrLQky4I9fgUPduS6Hb7s12PC6kpC3/CQJFHQ8KfMB0PaMZGIXXDid6I0BI2CHW7KLT6KRyvETFCEzuY2duHW8l60uIHdkgdX2YROvAqWc9g7XLJ8tCAH/gZx2y9hr8A5k508UtQeB0AAAAASUVORK5CYII=") no-repeat center center;
}
#import {
  border-width: 0;
  box-shadow: none;
  display: inline;
  width: auto;
}
.addURL input[type=text] {
  margin-left: 1rem;
  width: calc(100% - 6rem);
}
.addURL label {
  display: block;
  float: left;
  font-weight: normal;
  padding: 0.33rem 0;
  width: 3rem;
}
#result {
}
#resultHead, #footer {
  margin: 1rem 0;
  padding: .5rem;
  border: 1px solid #888;
  border-radius: .5rem;
  background-color: #DDD;
  margin-bottom: 1rem;
}
#resultContent h1 {
  color: #A00;
}
#resultContent ul.tag-list {
  list-style: none;
}
#resultContent ul.tag-list li {
  display: inline;
  margin: 0.33rem;
}
#resultContent .tags a {
  background: none repeat scroll 0 0 #F4F7F8 !important;
  border: 1px solid #CEE9F9 !important;
  border-radius: 4px;
  padding: 1px 4px;
  text-decoration: none;
}
